* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #fff;
    font-family: "JetBrains Mono", monospace;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/* ---------- HEADER ---------- */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
}

.header__logo {
    width: 300px;
    margin-top: 17px;
    margin-bottom: 7px;
    z-index: 1;
}

.header__nav {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

.header__list {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.header__list li {
    position: relative;
    width: 150px;
}

.header__list li a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 0 0 10px 10px;
    color: #ffffff; /* цвет текста */
    display: block;
    text-align: center;
}

.header__list li:nth-child(1) a {
    background-color: #e75b5b; /* цвет фона для первого элемента */
    color: #ffc487;
}

.header__list li:nth-child(2) a {
    background-color: #ffa94f; /* цвет фона для второго элемента */
    color: #fffbc9;
}

.header__list li:nth-child(3) a {
    background-color: #fff255; /* цвет фона для третьего элемента */
    color: #90b44b;
}

.header__list li:nth-child(4) a {
    background-color: #b8e75b; /* цвет фона для четвертого элемента */
    color: #54bbba;
}

.header__list li:nth-child(5) a {
    background-color: #5be7ce; /* цвет фона для пятого элемента */
    color: #5091e9;
}

.header__background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 300%;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}

.header__background__logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.header__background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}

/* ---------- CLOUD ---------- */
.cta-cloud {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 560px;
    height: 360px;
    margin: 80px auto;
    left: -400px;
    transform: scaleX(1.1);
    overflow: hidden;
}

.cloud-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: -1;
}

.cta-content {
    position: relative;
    text-align: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta-title-image {
    max-width: 250px; /* Настраиваем размер изображения по мере необходимости */
    height: auto;
}

.cta-button {
    margin-top: 20px;
    padding: 15px 55px;
    background-color: #ff6b6b; /* Цвет кнопки */
    color: #fff; /* Цвет текста кнопки */
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #ff4b4b; /* Темнее оттенок для эффекта наведения */
}

/* ---------- ABOUT SECTION ---------- */

.about-section {
    padding: 40px;
}

.about-content {
    max-width: 1200px;
    margin: 0 auto;
}

.about-title {
    text-align: center;
    font-size: 32px;
    color: #2e4861;
    margin-bottom: 20px;
    margin-top: 30px;
}

.about-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.about-image {
    border-radius: 30px;
    width: 400px;
    transform: rotate(-5deg);
    margin-top: 40px;
    margin-right: 20px;
}

.about-text {
    font-size: 16px;
    color: #2e4861;
    margin-left: auto;
    margin-top: 50px;
    flex: 1;
    max-width: 50%;
}

.about-text p {
    margin-bottom: 20px;
}

/* ---------- LESSONS SECTION ---------- */

.lessons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.lessons-content {
    max-width: 1200px;
    width: 100%;
}
.lessons-title {
    text-align: center;
    font-size: 32px;
    color: #2e4861;
    margin-bottom: 30px;
    margin-top: 30px;
}

.lessons-card {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(249, 2, 2, 0.1);
    overflow: hidden;
    max-width: 400px;
    margin: 0 auto;
    font-family: "JetBrains Mono", monospace;
}
.card-top {
    position: relative;
    height: 200px;
    overflow: hidden;
}
.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.card-bottom {
    padding: 20px;
    text-align: center;
}
.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2e4861;
}
.card-text {
    font-size: 16px;
    color: #5d5d5d;
    margin-bottom: 20px;
}
.card-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 14px;
    color: #5d5d5d;
}
.card-info div {
    flex: 1;
    text-align: center;
    margin: 0 10px;
}

.card-info div br {
    display: block;
    content: "";
    margin-top: 10px;
}

.card-info div:not(:last-child) {
    border-right: 1px solid #e0e0e0;
}
.card-btn {
    display: inline-block;
    background-color: #ff6b6b;
    width: 200px;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-btn:hover {
    background-color: #ff4b4b;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
}
